<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>979356928920-h5c5emco0dcip6efk08va40il7t9j9n1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.979356928920-h5c5emco0dcip6efk08va40il7t9j9n1</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>979356928920-0iqfq8svgon4oq2uvq65sn8jkbk8tnmp.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCnDghvczynyCDOupOhWWbO00FAvQrdPBU</string>
	<key>GCM_SENDER_ID</key>
	<string>979356928920</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string><com class="example ranajayeen"></com></string>
	<key>PROJECT_ID</key>
	<string>newme-f9c0a</string>
	<key>STORAGE_BUCKET</key>
	<string>newme-f9c0a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:979356928920:ios:d6a4ca478f7a1c2d10f9ed</string>
	<key>DATABASE_URL</key>
	<string>https://newme-f9c0a-default-rtdb.firebaseio.com</string>
</dict>
</plist>